.plain-back {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

.market-logo img {
    width: 100%;
}

.logo-clyche img {
    width: 160px;
    height: auto;
    margin-right: 5px;
    float: right;
    
}

.clyche-logo img {
    width: 100px; 
    height: auto;
    margin-right: 5px;
    display: flex;
    margin-right: 50px;
}

.company-name {
    font-weight: bold;
}

.nav-links a {
    color: #3026c0;
    text-decoration: none;
    margin-right: 10px;
    width: 50%;
}

.nav-links a:hover {
    text-decoration: underline;
}


.main { 
	border-radius: 10px; 
	padding: 20px 20px; 
    top: 50%;
    left: 14%;
	width: 900px; 
    display: grid;
    background-size: cover;
    color: aliceblue;
    position: relative;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 7px;
    
}

.product-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}


.product-card button:hover {
    background-color: #0056b3;
}

.product-card {
    padding: 10px;
    background-color: #9ad3de;
    color: black;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


